.mobileAlert{
    color: white;

    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alertContent{
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.alertTitle{
    font-size: 150%;
}

.alertImage{
    width: 15vw;
    margin-top: 1vw;
}

.alertText{
    font-size: 80%;

    margin: -0% 20%;
}

.alertBtn{
    position: relative;
    top: 3vw;

    padding: 1.5vw;

    color: #1e023df5;
    background-color: #e0d4eef5;

    border-color: #120125f5;
    border-style: solid;
    border-radius: 10px;
}

@media only screen and (orientation:landscape) {
    .mobileAlert {
      display: none;
    }
  }