.mobileAlert{
    color: white;

    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alertContent{
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.alertTitle{
    font-size: 2.5vw;
}

.alertImage{
    width: 15vw;
    margin: 1vw;
}

.alertText{
    font-size: 1vw;
}